{% extends "loginBase.html" %}

<!--Load widget_tweaks-->
{% load widget_tweaks %}

{% block title %}
IssueTracker: login
{% endblock %}

{% block body %}
<div class="container mt-5 d-flex align-items-center">
    <div class="container mt-5 d-flex justify-content-center">
        <h2>Sign in</h2>
    </div>
</div>
<div class="container mt-5 d-flex align-items-center">
    <div class="container mt-5 d-flex justify-content-center">
        <form action="postloginpage" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{ loginForm.errors.Username }}
                <label class="mb-2" for={{ loginForm.Username.id_for_label }}>Username</label>
                {{ loginForm.Username|add_class:'form-control' }}
            </div>
            <div class="container mt-5 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary "><i class="bi bi-box-arrow-right"></i>Sign in</button>
            </div>
        </form>
    </div>
</div>
<div class="container mt-5 d-flex align-items-center">
    <div class="container mt-5 d-flex justify-content-center">
        <p>Do not have an account? Sign up </p><a class="mx-1" href="{% url 'login:getsignuppage' %}"> here</a>
    </div>
</div>
{% endblock %}