{% extends "base.html" %}

{% block title %}
Delete Ticket
{% endblock %}

{% block body %}
<form action="deleteTicketpage" method="post">
    {{form.as_p}}

    <table class="table">
        <tr>
            <th scope="col">Select</th>
            <th scope="col">Ticket ID</th>
            <th scope="col">Title</th>
            <th scope="col">Issue Date</th>
            <th scope="col">Created By</th>
            <th scope="col">Status</th>
        </tr>

        {% for t in tickets %}
        <tr>
            <td><input type="checkbox" name="selected_options" value={{t.TicketID}}></td>
            <td>{{t.TicketID}}</td>
            <td>{{t.TicketName}}</td>
            <td>{{t.IssueDate}}</td>
            <td>{{t.UserID.Username}}</td>
            <td>{{t.get_Status_display}}</td>

            {% endfor %}

        </tr>

    </table>

    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}