{% extends "base.html" %}

{% block title %}
homepage
{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">TicketID</th>
            <th scope="col">Title</th>
            <th scope="col">Issue Date</th>
            <th scope="col">Created By</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for t in tickets %}
        <tr>
            <td>{{t.TicketID}}</td>
            <td>{{t.TicketName}}</td>
            <td>{{t.IssueDate}}</td>
            <td>{{t.UserID.Username}}</td>
            <td>{{t.get_Status_display}}</td>
            <td>
                <div class="container d-flex flex-row justify-content-evenly">
                    <form class="mx-1" action="viewTicketDetail" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="ticketID" name="ticketID" value="{{t.TicketID}}">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-list">View</i></button>
                    </form>
                    <form class="mx-1" action="updateTicketpage" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="ticketID" name="ticketID" value="{{t.TicketID}}">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-pencil">Edit</i></button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}