{% extends "base.html" %}

{% block title %}
Update Ticket
{% endblock %}

{% block body %}
<form action="confirmUpdate" method="post">
    {% csrf_token %}
    <input type="hidden" id="TicketID" name="TicketID" value="{{ticketID}}">
    <div class="form-outline mb-4">
        {{ updateForm.TicketName.errors }}
        <label class="form-label" for={{ updateForm.TicketName.id_for_label }}>Ticket title</label>
        {{ updateForm.TicketName }} 
        
    </div>
    <div class="form-outline mb-4">
        {{ updateForm.Description.errors }}
        <label class="form-label" for={{ updateForm.Description.id_for_label }}>Description</label>
        {{updateForm.Description}}
    </div>
    <div class="form-outline mb-4">
        {{ updateForm.Status.errors }}
        <label class="form-label" for={{ updateForm.Status.id_for_label }}>Status</label>
        {{ updateForm.Status }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}